* {
	margin: 0;
	padding: 0;
	text-align: center;
}

html,
body {
	height: 100%;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: 100%;
}

.sidebar {
	background-color: #0284c7;
	grid-column: 1 / 2;

	display: grid;
	grid-template-rows: 1fr 3fr 4fr;
	gap: 20px;
}

.tab_row {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 10px;
	color: white;
	font-size: 2rem;
	text-align: left;

	align-self: center;
	justify-content: center;

	margin: 5px 0px 5px 15px;
}

#large-image {
	width: 100%;
}
.tab_row > li > img {
	width: 60%;
}

.tab_row ul,
.tab_row li {
	list-style-type: none;
	text-align: left;
}

.tab_row li {
	display: flex;
	justify-content: left;
	align-items: center;
}

.content {
	grid-column: 2 / 3;

	display: grid;
	grid-template-rows: 1fr 3fr;
}

.content .nav {
	background-color: white;

	display: grid;
	grid-template-rows: 1fr 2fr;
}

.content .menu {
	background-color: grey;
}

.header1 {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
	align-content: center;
}

.header2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 600px;
}

.user-information {
	font-size: 2rem;

	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr 2fr;
	align-items: center;
}

#avatar {
	grid-column: 1 / 2;
	grid-row: 1/ 3;
	width: 100%;
	justify-self: right;
}

.username {
	font-size: 4rem;
	grid-column: 2 / 3;

	align-self: start;
	justify-self: left;
}

.greetings {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	align-self: flex-end;
	justify-self: left;
}

input {
	text-align: left;
}

#large_text {
	font-size: larger;
	color: black;
}
